

 .logo {
    position: absolute;
    left: 20px;
    max-width: 100%;
    height: auto;
}


#navbar .logo img {
    width: 40px; /* 修改图片宽度 */
    height: auto ; /* 根据宽度自动调整高度 */
    
    padding-left:15px;
    padding-top:10px;
}
#navbar {
    
    color: #fff;
   padding-left:60px;
    padding-top:40px;
}

#navbar ul {
    
    list-style-type: none;
     margin: 0;
    padding: 0;
}

#navbar li {
    display: inline-block;
    margin-right: 60px;
}

#navbar li:last-child {
    margin-right: 0;
}

#navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-family:方正汉真广标简体; /* 修改字体 */
    font-size: 50px; /* 修改字体大小 */
   font-weight:bold;
   text-shadow:2px 2px 3px black;
}
 #navbar a:hover {
  text-decoration:underline;
   font-size:52px;
   color:aliceblue;
   text-decoration-color:aqua;
}

#navbar li:hover .hover-image {
    display: block;
   
}

.hover-image {
    display: none;
    position: absolute;
    top:3px;

}
 
.title-image {
display: flex;   
margin-top: 40px;
}
.title-image img {
width: 1000px;
height:auto;
margin-left:40px;
}

.logo-image {
display:block;

margin-top: -500px;
}
.logo-image img {
width: 300px;
height:auto;
margin-left:1100px;
}